<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="text-center error">
        <h1 class="m-12 font-mono text-3xl text-red-500">URL is Invalid</h1>
        <a href="/" class="font-mono text-2xl hover:no-underline underline text-blue-500">Home</a>
    </div>
</body>
</html>