<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/30b120d6a8.js" crossorigin="anonymous"></script>
    <style>
        .opacity {
            opacity: 0.1;
        }
    </style>
</head>

<body class="h-full bg-[#141E30]">
    <div class="header bg-white h-[70px] items-center px-1 font-sans flex justify-between">
        <div class="logo text-3xl font-serif text-red-600 font-bolder mx-4">
            Website Rating System
        </div>
        <div class="menu bg-white z-10">
            <i id="check" class="fa-solid fa-bars text-3xl cursor-pointer mx-4"></i>
            <ul
                class="list border-2 text-center border-red-500 top-[80px] right-[20px] bg-white w-[350px] absolute rounded-tl-3xl">
                <!-- <li class="text-right p-2">
                            <i id="close"
                                class="fa-solid fa-close cursor-pointer border-2 rounded-full px-3 py-2 hover:bg-red-500 hover:text-white duration-300"></i>
                        </li> -->
                <li
                    class="hover:bg-gray-300 hover:rounded-tl-3xl border-b p-2 font-serif decoration-0 text-xl hover:text-red-500">
                    <a class="hover:underline" href="/">Home</a>
                </li>
                <li class="hover:bg-gray-300 border p-2 font-serif decoration-0 text-xl hover:text-red-500">
                    <a class="hover:underline" href="/dashboard">Dashboard</a>
                </li>
                <li class="hover:bg-gray-300 border p-2 font-serif decoration-0 text-xl hover:text-red-500">
                    <a class="hover:underline" href="/dashboard/add">Add New Website</a>
                </li>
                <li class="hover:bg-gray-300 border p-2 font-serif decoration-0 text-xl hover:text-red-500">
                    <a class="hover:underline" href="/dashboard/check">Check Website Status</a>
                </li>
                <li class="hover:bg-gray-300 border p-2 font-serif decoration-0 text-xl hover:text-red-500">
                    <a class="hover:underline" href="#">About</a>
                </li>
                <li class="hover:bg-gray-300 border p-2 font-serif decoration-0 text-xl hover:text-red-500">
                    <a class="hover:underline" href="/register">Register</a>
                </li>
                <li class="hover:bg-gray-300 border p-2 font-serif decoration-0 text-xl hover:text-red-500">
                    <a class="hover:underline" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="area">
        <div
            class="font-mono register_section border text-white mx-[20%] mt-[3%] text-center p-5 rounded-xl hover:bg-gray-400 hover:text-black duration-300">
            <div class="">Get started with Website Rating System (WRS). Whether you are a webmaster, digital
                marketer, or simply someone looking to improve their website's performance, our
                system is designed to provide you with the feedback form & you need to make informed decisions.
            </div>
            <div class="text-center mt-[30px] text-red-500">
                <a class="p-2 border-red-500 text-xl border-2 rounded hover:border-white duration-300 hover:bg-[#141E30] duration-300 hover:text-white"
                    href="/register">Register -></a>
            </div>
        </div>
        <div class="flex flex-wrap justify-around mt-[5%]">
            <div
                class="block2 h-fit rounded-md border w-[55%] p-3 text-center text-white font-mono hover:bg-gray-400 hover:text-black duration-300">
                <div>
                    It's an user-friendly web application designed to help you to evaluate and Our algorithm has an
                    ability to check whether the website is real or fake? So why wait? Be a part of us by signing up for
                    our website rating system today itself.
                </div>
                <div class="text-center rounded-xl p-1 m-3 mt-[30px] text-red-500">
                    <a class="p-2 border-red-500 text-xl border-2 rounded hover:bg-[#141E30] duration-300 hover:text-white"
                        href="/dashboard/check">Check a Website</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $('.list').hide();
    $('#check').click(function () {
        $('.list').toggle(200);
        $('.area').toggleClass("opacity");
    });
    $('#close').click(function () {
        $('.list').toggle(200);
    })
</script>

</html>