<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/f0423e0b21.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="h-full bg-[#141E30]">
    <div class="sticky header h-[70px] bg-white flex place-content-between px-12 items-center">
        <div class="logo text-red-500 text-4xl font-bold font-mono align-middle">
            Website Checker
        </div>
        <div class="font-mono text-xl flex">
            <div class="px-3 bg-red-500 mx-3 rounded-md text-2xl text-[#141E30]"><a href="add/">Add New Website</a></div>
            <div class="px-3 bg-red-500 mx-3 rounded-md text-2xl text-[#141E30]"><a href="login/">Login</a></div>
            <div class="px-3 bg-red-500 mx-3 rounded-md text-2xl text-[#141E30]"><a href="#">About Me</a></div>
        </div>
    </div>
    <div class="text-white font-mono text-xl text-center m-5">
        <p>All Websites Rated below</p>
    </div>
    <hr>
    <div class="content m-[50px] flex justify-center flex-wrap">
        {% for website in list %}
            <div class="card m-5 rounded-md bg-white font-mono border-2 border-red-500 w-fit h-[200px] text-center items-center">
                <div class="url text-xl flex items-center h-[80px] mx-2"><a class="text-blue-500 underline hover:no-underline" target="_blank" href="{{website.url}}">{{website.url}}</a></div>
                <hr>
                <div>
                    <table class="flex justify-center">
                        <tbody>
                            <tr>
                                <td class="p-3">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="number" name="user" value="{{website.user_id}}" hidden>
                                        <input type="number" name="website" value="{{website.id}}" hidden>
                                        <input type="number" name="like_or_dislike" value="1" hidden>
                                        <button type="submit">
                                            <i id="like" class="fa fa-thumbs-up fa-3x cursor-pointer"></i>
                                        </button>
                                    </form>
                                </td>
                                <td class="p-3">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="number" name="user" value="{{website.user_id}}" hidden>
                                        <input type="number" name="website" value="{{website.id}}" hidden>
                                        <input type="number" name="like_or_dislike" value="-1" hidden>
                                        <button type="submit">
                                            <i id="dislike" class="fa fa-thumbs-down fa-3x cursor-pointer"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2 text-xl">{{website.total_likes}}</td>
                                <td class="p-2 text-xl">{{website.total_dislikes}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</body>
</html>